{% capture before %}{{ include.link[1] | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.link[1] | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% capture linkurl %}{{ include.link[1] }}{% endcapture %}

{% if internal %}
  <a href="{{ include.link[1] }}">{{ include.link[0] }}</a>
{% else %}
  <a href="{{ include.link[1] }}" target="_blank">{{ include.link[0] }}</a>
{% endif %}
